@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.nav-link {
    position: relative;
  }
  
  .nav-link:hover {
    border-bottom: 2px solid black;
  }
  
  .nav-link::after {
    transition: all 0.2s;
    opacity: 0;
    height: 2px;
    width: 100%;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
  
  }
  
  .nav-link:hover::after {
    opacity: 1;
  }

.contact-box {
    background-color: #fff;
    display: flex;
}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right {
    flex-basis: 40%;
    padding: 40px;
    background: #d5c214;
}

h1 {
    margin-bottom: 10x;
}

.container p {
    margin-bottom: 40x;

}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom:1px solid #ccc ;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-boxs;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #d5c214;
}
button{
    background: #d5c214;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3) ;
}
.contact-left h4{
    color: #d5c214;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h4{
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px ;
}
tr td{
    padding-top: 20px;
}