@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.nav-link {
  position: relative;
}

.nav-link:hover {
  border-bottom: 2px solid black;
}

.nav-link::after {
  transition: all 0.2s;
  opacity: 0;
  height: 2px;
  width: 100%;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;

}

.nav-link:hover::after {
  opacity: 1;
}

.navbar-nav .nav-item.active .nav-link:hover,
.navbar-nav .nav-item.active .nav {
  background: #000;
  color: #fff;
}

.banner {
  position: relative;
  background-image: url("/img/ezgif.com-video-to-gif.gif");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 250px 0 200px;
}

.banner h2 {
  margin: 0;
  padding: 0;
  font-size: 2.8em;
  font-weight: 1000;
  color: #000;
  text-transform: uppercase;
}

.baner .container h2 {
  margin: 10px;
}

.banner p {
  margin: 1em 0 0;
  padding: 0;
  font-size: 1em;
  font-weight: 1000;
  line-height: 1.5em;
  text-transform: uppercase;
}

.wrapper {
  padding: 20px 50px;
}

.wrapper .title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}

.wrapper p {
  text-align: justify;
  padding-bottom: 20px;
}

.counter-up {
  background: url("images/bg-2.jpeg") no-repeat;
  min-height: 50vh;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 50px;
  position: relative;
  display: flex;
  align-items: center;
}

.counter-up::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.counter-up .content {
  z-index: 1;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.counter-up .content .box {
  border: 1px dashed rgba(255, 255, 255, 0.6);
  width: calc(25% - 30px);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
}

.content .box .icon {
  font-size: 48px;
  color: #e6e6e6;
}

.content .box .counter {
  font-size: 50px;
  font-weight: 500;
  color: #f2f2f2;
  font-family: sans-serif;
}

.content .box .text {
  font-weight: 400;
  color: #ccc;
}

@media screen and (max-width: 1036px) {
  .counter-up {
    padding: 50px 50px 0 50px;
  }

  .counter-up .content .box {
    width: calc(50% - 30px);
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 580px) {
  .counter-up .content .box {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    padding: 20px;
  }

  .counter-up {
    padding: 30px 20px 0 20px;
  }
}

.media-icons {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 6px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);

}

.close-btn.open~.media-icons {
  transform: translateX(0);
}

.container1 {
  position: absolute;
  top: 120%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

}

.media-icons a {
  text-decoration: none;
  position: relative;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 6px;
  margin: 6px;

}

.media-icons a .text {
  position: absolute;
  left: 55px;
  font-size: 12px;
  font-weight: 400;
  pointer-events: none;
  background-color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  transform: translateY(-25px);
  transition: all 0.2s linear;
  opacity: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

a:hover .text {
  transform: translateY(0);
  opacity: 1;

}

a .text::before {
  content: " ";
  position: absolute;
  height: 10px;
  width: 10px;
  top: 50%;
  left: -5px;
  transform: translateY(-50%) rotate(45deg);
  background-color: #fff;
}

.media-icons i {
  color: white;
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  background-color: rgb(214, 211, 48);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform: rotate(45deg);
}

.close-btn.open {
  transform: rotate(90deg);
  background-color: red;
}

.project-heading {
  text-align: center;
  padding: 2rem 0;
  align-items: center;
}



.project-heading h1 {

  color: #000;
  font-size: 30px;
  font-weight: 300;

}

.project-heading .hr {
  width: 15%;
  background-color: #000;
  height: 2px;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.main-inner-projects {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.inner-projects {
  flex: 1 1 300px;
  padding: 1rem;
  border: 1px solid #000;
}

.inner-projects .projects-images img {
  width: 100%;
  padding: 1rem;
}

.inner-projects .projects-images img:hover {
  scale: 1.1;
}

.project-inner-content {
  padding: 2rem 1rem;
}

.project-inner-content h4 {
  color: #000;
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 300;
}

.project-inner-content p {
  color: #000;
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 200;
}